<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EasyStay</title>
  <meta name="description" content="Free Bootstrap Theme by uicookies.com">
  <meta name="keywords"
    content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="css/styles-merged.css">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->

    <style>
    @media screen and (max-width: 410px) {
      .desktop{
        display: none;
      }
      .mobile{
        display: block;
      }
    }
    @media screen and (min-width: 410px) {
      .mobile{
        display: none;
      }
      .desktop{
        display: block;
      }
    }

    </style>
</head>

<body>

  <script>
  
//     // <li id="banner-image-list-item" style="background-image: url(img/9room.jpeg); width: 100%; height: auto;" class="overlay">
//     // Function to handle screen width changes
// function handleScreenWidthChange() {
//     // Get the current screen width
//     var screenWidth = window.innerWidth;

//     // Log the screen width to the console
//     console.log("Screen width changed to: " + screenWidth);
//     if(screenWidth < 480){
//       document.getElementById('banner-image-list-item').style = "background-image: url(img/9room.jpeg); width: 100%; height: auto;"
//     } else {
//       document.getElementById('banner-image-list-item').style = "background-image: url(img/Home.png); width: 100%; height: auto;"
//     }
// }

// // Add event listener for screen width changes
// window.addEventListener("resize", handleScreenWidthChange);


    </script>
  <!-- START: header -->

  <header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
    <div class="row">
      <div href="#" class="probootstrap-burger-menu visible-xs"><i></i></div>
      <div class="mobile-menu-overlay"></div>

      <a class="probootstrap-logo visible-xs"><img src="img/logo.png" class="hires" width="120"
          height="33" alt="Free Bootstrap Template by uicookies.com"></a>

      <nav role="navigation" class="probootstrap-nav hidden-xs">
        <ul class="probootstrap-main-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/rooms">Our Rooms</a></li>
          <li class="hidden-xs probootstrap-logo-center"><a href="/"><img src="img/logo.png" class="hires"
                width="181" height="50" alt="Free Bootstrap Template by uicookies.com"></a></li>
          <li><a href="/reservation">Reservation</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="extra-text visible-xs">
          <a href="#" class="probootstrap-burger-menu"
            style="position: absolute !important; top: 31px !important; right: 5% !important;"><i></i></a>
          <h5>Connect With Us</h5>
          <ul class="social-buttons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook2"></i></a></li>
            <li><a href="#"><i class="icon-instagram2"></i></a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- </div> -->
  </header>
  <!-- END: header -->

  <section class="probootstrap-slider flexslider desktop">
    <ul class="slides" >
      <li style="background-image: url(img/desktop/img1.png);width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li id="banner-image-list-item" style="background-image: url(img/desktop/img2.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
      <li id="banner-image-list-item" style="background-image: url(img/desktop/img3.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
      <li id="banner-image-list-item" style="background-image: url(img/desktop/img4.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
      <li id="banner-image-list-item" style="background-image: url(img/desktop/img5.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
      <li id="banner-image-list-item" style="background-image: url(img/desktop/img6.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
    </ul>
  </section>

  <section class="probootstrap-slider flexslider mobile">
    <ul class="slides" >
      <li style="background-image: url(img/mobile/img1.png);width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li id="banner-image-list-item" style="background-image: url(img/mobile/img2.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
      <li id="banner-image-list-item" style="background-image: url(img/mobile/img3.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
      <li id="banner-image-list-item" style="background-image: url(img/mobile/img4.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
      <li id="banner-image-list-item" style="background-image: url(img/mobile/img5.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
      <li id="banner-image-list-item" style="background-image: url(img/mobile/img6.png); width: 100%;" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="probootstrap-slider-text text-center">

              </div>
            </div>
          </div>
        </div>

      </li>
    </ul>
  </section>